{erl_opts, [debug_info,
	    {parse_transform, lager_transform}
	   ]}.


{deps, [
	{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
	{hackney, ".*", {git, "https://github.com/dimadio/hackney.git", {branch, "master"}}},
	{lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.1.0"}}}
       ]}.
